@import '../../../style/style';
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $black;
}

.content {
    margin: 2rem 20%;
    padding: 1rem;
    .section-header {
        margin: 3rem;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
    }
    .post {
        padding: 2rem 0;
        border-top: 1px solid $dk-gray;
        .post-header {
            font-weight: bold;
        }
        p {
            color: $black;
            font-family: "Merriweather", serif;
            font-weight: 300;
        }
        .post-detail {
            font-family: "Open Sans", sans-serif;
            font-size: 0.9rem;
        }
    }
}

.button {
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: $black;
    border-radius: 5rem;
    border: 1px solid #ccc;
    font-family: "Open Sans", sans-serif;
    transition: 0.3s ease;
}

.button:hover {
    border-color: $black;
    background: transparent;
    color: $black;
}